/* @font-face {
	font-family: 'myriadpro';
	src: url('../fonts/myriadpro/myriadpro.eot');
	src: local(''), 
		url('../fonts/myriadpro/myriadpro.ttf') format('truetype'), 
		url('../fonts/myriadpro/myriadpro.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} */

/* @font-face {
	font-family: 'plumb-black';
	src: url('../fonts/plumb-black/plumb-black.eot');
	src: local(''), 
		url('../fonts/plumb-black/plumb-black.woff') format('woff'), 
		url('../fonts/plumb-black/plumb-black.ttf') format('truetype'), 
		url('../fonts/plumb-black/plumb-black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} */

@font-face {
    font-family: 'Plumb-Black';
        
        src:    url('https://nomail.com.ua/files/eot/05c090c7509117d8c9913243d3468458.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/05c090c7509117d8c9913243d3468458.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/05c090c7509117d8c9913243d3468458.woff2') format('woff2');
    }
    
@font-face { font-family: 'Plumb-Black';  src: local('Plumb-Black'), url('https://nomail.com.ua/files/woff/05c090c7509117d8c9913243d3468458.woff') format('woff'); }



@font-face {
    font-family: 'MyriadPro-Cond';
        
        src:    url('https://nomail.com.ua/files/eot/e2a5e608ba42366402cbf775c06f3f15.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/e2a5e608ba42366402cbf775c06f3f15.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/e2a5e608ba42366402cbf775c06f3f15.woff2') format('woff2');
    }
    
@font-face { font-family: 'MyriadPro-Cond';  src: local('MyriadPro-Cond'), url('https://nomail.com.ua/files/woff/e2a5e608ba42366402cbf775c06f3f15.woff') format('woff'); }